In [52]:
%pip install matplotlib pandas numpy seaborn wordcloud tabulate

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.8.4)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: wordcloud in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.9.3)
Requirement already satisfied: tabulate in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.9.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/lehoanganh/Library/Python/3.12/lib/python/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/lehoanganh/Library/Python/3.12/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/lehoanganh/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tabulate import tabulate

In [54]:
raw_df1 = pd.read_csv('Crawl/Data/data_hasaki.csv')
raw_df2 = pd.read_csv('Crawl/Data/data_thegioinuochoa.csv')
raw_df3 = pd.read_csv('Crawl/Data/Data_vinaquick.csv')

In [55]:
raw_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      191 non-null    object
 1   brand     158 non-null    object
 2   pricenew  191 non-null    object
 3   sale      180 non-null    object
 4   priceold  180 non-null    object
dtypes: object(5)
memory usage: 7.6+ KB

In [56]:
raw_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      72 non-null     object
 1   brand     72 non-null     object
 2   pricenew  72 non-null     object
 3   sale      72 non-null     object
 4   priceold  72 non-null     object
dtypes: object(5)
memory usage: 2.9+ KB

In [57]:
raw_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      177 non-null    object
 1   brand     173 non-null    object
 2   pricenew  173 non-null    object
 3   sale      177 non-null    object
 4   priceold  173 non-null    object
dtypes: object(5)
memory usage: 7.0+ KB

## Bỏ đi những dữ liệu trùng lặp

In [58]:
raw_df = pd.concat([raw_df1, raw_df2, raw_df3])
raw_df = raw_df.reset_index(drop=True)
raw_df.drop_duplicates(inplace= True)

In [59]:
raw_df.to_csv('Crawl/Data/Perfume_Data.csv')

## Các loại thương hiệu khác nhau và số lượng sản phẩm của từng thương hiệu đó

In [60]:
Brand_Counts = {}
for index, row in raw_df.iterrows():
    brand = row['brand']
    if brand in Brand_Counts:
        Brand_Counts[brand] += 1
    else:
        Brand_Counts[brand] = 1
for brand, count in Brand_Counts.items():
    if count > 2:
        print(f"brand: {brand}, count: {count}")

brand: Eau De Parfum, count: 33
brand: Perfume Body Mist, count: 3
brand: nan, count: 36
brand: Perfume Mist, count: 23
brand: Eau de Parfum, count: 7
brand: Eau De Toilette, count: 8
brand: Dolce & Gabbana, count: 7
brand: Yves Saint Laurent, count: 13
brand: Jean Paul Gaultier, count: 3
brand: Calvin Klein, count: 4
brand: Valentino, count: 10
brand: Giorgio Armani, count: 8
brand: Burberry, count: 3
brand: Issey Miyake, count: 3
brand: Lancôme, count: 3
brand: Jomashop.com, count: 24
brand: Amazon, count: 36
brand: sephora, count: 65
brand: Walmart, count: 20
brand: NORDSTROM, count: 3

In [61]:
table = tabulate(raw_df, headers='keys', tablefmt='pretty')

In [62]:
with open( 'Crawl/Data/table.txt', 'w', encoding='utf-8') as file:
    file.write(table)